* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	background-color: #4b4b50;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
.slideshow {
	position: relative;
	text-align: center;
	color: white;
}

.buttonModule {
	position: relative;
	top: 20px;
	width: 20%;
	margin: 0 auto;
	background-color: #6a6a6b;
	z-index: 1000;
}
.exitButton {
	position: relative;
	display: none;
}

.mainImg {
	padding: 0;
	display: block;
	margin: -1% auto;
	max-height: 100%;
	max-width: 100%;
	position: relative;
	z-index: 100;
}

.mainImg img {
	max-width: 100%;
	width: 100vw;
	height: 100vh;
}

.slideContainer {
	display: none;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.slider {
	position: absolute;
	left: 10%;
	top: 30%;
	width: 80%;
	height: 500px;
	overflow: hidden;
}

.innerSlider {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 20px;
	pointer-events: none;
	transition: 0s ease-in;
	border: 20px solid green;
}

.slide {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
